:root {
	--cell-size: 38px;
	--cell-border: 1px;
	--square-size: calc(var(--cell-size) + 2 * var(--cell-border));
}

p {
	font-size: larger;
}

#boardContainer {
	width: calc(7 * var(--square-size));
	height: calc(6 * var(--square-size));
	margin-bottom: 50px;
}

.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	aspect-ratio: 1 / 1;
	border: 1px black solid;
	background-color: gray;
}

.cell>div {
	border-radius: 50%;
	width: 80%;
	height: 80%;
	margin: 10%;
}

.cell>div:not(.red):not(.yellow) {
	background-color: black;
}

.column {
	display: inline-block;
}

.column:hover>div.cell {
	background-color: #ccc;
}

.red {
	background-color: red;
}

.yellow {
	background-color: yellow;
}

#yourColor+div {
	display: inline-block;
}

.hidden {
	display: none;
}

div#controls > div {
	display: inline-block;
}

li:hover {
	color: lightskyblue;
}

li:hover::marker {
	color: black;
}
